@import url("https://ajan-12.github.io/css/general.css");

html, body {
  background-color: #ebebeb;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  margin: 0px;
  width: 100%;
}

h1 {
  color: #ebebeb;
  padding-top: 25px;
  padding-left: 10px;
  margin: 0px;
  font-size: 26px;
}

caption {
  color: black;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  padding-top: 8px;
}

img.icon {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  display: inline-block;
}

table, tr {
  height: 40px;
  border-bottom: 1px #dedede solid;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td, th {
  border: 1px #dedede solid;
}

td.repository {
  width: 65%;
  text-align: left;
}

td.version {
  width: 15%;
  text-align: center;
}

td.buildIcon {
  width: 10%;
  text-align: center;
}

button.repo {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 20px;
  color: #4b71b8;
  font-family: 'Noto Sans', sans-serif;
}

#plugins {
  font-size: 16px;
  margin-left: 15%;
  margin-top: 8%;
  width: 70%;
  background-color: #dedede;
  border: 1px #dedede solid;
  box-shadow: 3px 3px 3px #949494;
}

#popup {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -190px;
  width: 400px;
  height: 380px;
  background-color: #dedede;
  border: 1px #dedede solid;
  box-shadow: 3px 3px 3px #949494;
}