html, body {
    background-color: #ebebeb;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 0px;
    width: 100%;
}

p, a {
  text-decoration: none;
  color: #4b71b8;
  font-family: 'Noto Sans', sans-serif;
  margin-left: 5px;
  padding-bottom: 5px;
}

h1 {
  color: #ebebeb;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 60px;
}

caption {
  color: black;
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  padding-top: 2px;
}

table, tr {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px #dedede solid;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td, th {
  border: 1px #dedede solid;
}

td.version {
  width: 10%;
  padding-left: 25px;
}

td.buildIcon {
  width: 5%;
  padding-left: 15px;
}

img.build {
  align-self:flex-end;
}

div.header {
  background-color: #0f0f0f;
  color: #ebebeb;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

div.plugins {
  margin: 50px 200px 50px 200px;
  font-size: 16px;
  align-self: center;
  background-color: #dedede;
  border: 5px #dedede solid;
  box-shadow: 3px 3px 3px #949494;
}
